{% extends 'netbox/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% if object.pk %}Edit{% else %}Add{% endif %} Config Item</h1>
            <form method="post" class="form form-horizontal">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{% url 'plugins:netbox_os_config:configitem_list' %}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}